label stickllm
	menu label ^1 StickLLM
	menu default
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components ignore_uuid username=user hostname=stickllm noeject console=tty0 loglevel=4

label stickllm-local
	menu label 2 StickLLM local chat
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components ignore_uuid username=user hostname=stickllm noeject stickllm.local console=tty0 loglevel=4

label stickllm-ssh
	menu label 3 StickLLM terminal + SSH
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components ignore_uuid username=user hostname=stickllm noeject stickllm.ssh console=tty0 loglevel=4

label stickllm-failsafe
	menu label 4 StickLLM failsafe
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components ignore_uuid nomodeset modprobe.blacklist=nvidia,nvidia_drm,nvidia_modeset,nvidia_uvm username=user hostname=stickllm noeject stickllm.ssh console=tty0
