label stickllm
	menu label ^StickLLM ephemeral (amd-rtx3090)
	menu default
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components ignore_uuid username=user hostname=stickllm noeject console=tty0

label stickllm-verbose
	menu label StickLLM verbose / debug
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components ignore_uuid username=user hostname=stickllm noeject debug console=tty0

label stickllm-failsafe
	menu label StickLLM failsafe (nomodeset, no nvidia)
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components ignore_uuid nomodeset modprobe.blacklist=nvidia,nvidia_drm,nvidia_modeset,nvidia_uvm username=user hostname=stickllm noeject console=tty0
